# Liste de tous les serveurs + leurs IP
# Exemple suivant provisionné avec Vagrant
# vagrant up
[all_servers]
k8s-master01 ansible_host=192.168.100.101
k8s-master02 ansible_host=192.168.100.102
k8s-master03 ansible_host=192.168.100.103
k8s-worker01 ansible_host=192.168.100.111
k8s-worker02 ansible_host=192.168.100.112
k8s-worker03 ansible_host=192.168.100.113
haproxy01 ansible_host=192.168.100.121
haproxy02 ansible_host=192.168.100.122

# Tous les serveurs constituant le cluster k8s
[k8s_cluster:children]
k8s_masters
k8s_workers

# Serveurs pour le cluster etcd
# Le premier node sera utilisé pour la gestion des certificats TLS
[etcd]
k8s-master01
k8s-master02
k8s-master03

# Serveurs pour le cluster k8s
# Le premier node sera utilisé pour initialiser le cluster
[k8s_masters]
k8s-master01
k8s-master02
k8s-master03

# Serveurs pour node worker k8s
[k8s_workers]
k8s-worker01
k8s-worker02
k8s-worker03

# Serveurs Haproxy
[haproxy]
haproxy01
haproxy02