[Unit]
Description=kubelet: The Kubernetes Node Agent
Documentation=https://kubernetes.io/docs/
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/kubelet \
          --config=/etc/kubernetes/kubelet-config.yaml \
          --kubeconfig=/etc/kubernetes/kubelet.conf \
          --network-plugin=cni \
          --cni-conf-dir=/etc/cni/net.d \
          --cni-bin-dir=/opt/cni/bin \
          --runtime-cgroups=/systemd/system.slice \
          --kubelet-cgroups=/systemd/system.slice \
          --node-ip={{ ansible_host }}
Restart=always
StartLimitInterval=0
RestartSec=10

[Install]
WantedBy=multi-user.target